body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: Arial;
}

.calculator {
  background: lightgoldenrodyellow;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px ;
  width: 260px;
}

#display {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: right;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color:grey;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: grey;
}

.zero {
  grid-column: span 2;
}
